/* line 5, ../sass/featured-content-slider.sass */
#featured {
  width: 1000px;
  padding-right: 150px;
  position: relative;
  border: 5px solid #cccccc;
  height: 410px;
  overflow: hidden;
  background: white;
}
/* line 13, ../sass/featured-content-slider.sass */
#featured ul.ui-tabs-nav {
  position: absolute;
  top: 0;
  left: 1000px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 410px;
  overflow: auto;
  overflow-x: hidden;
}
/* line 24, ../sass/featured-content-slider.sass */
#featured ul.ui-tabs-nav li {
  padding: 1px 0;
  padding-left: 13px;
  font-size: 12px;
  color: #666666;
}
/* line 29, ../sass/featured-content-slider.sass */
#featured ul.ui-tabs-nav li img {
  float: left;
  margin: 7px 5px;
  background: white;
  padding: 2px;
  border: 1px solid #eeeeee;
}
/* line 35, ../sass/featured-content-slider.sass */
#featured ul.ui-tabs-nav li span {
  font-size: 13px;
  line-height: 18px;
}
/* line 40, ../sass/featured-content-slider.sass */
#featured li.ui-tabs-nav-item a {
  display: block;
  height: 100px;
  text-decoration: none;
  color: #333333;
  background: white;
  line-height: 20px;
  outline: none;
}
/* line 48, ../sass/featured-content-slider.sass */
#featured li.ui-tabs-nav-item a:hover {
  background: #f2f2f2;
}
/* line 50, ../sass/featured-content-slider.sass */
#featured li.ui-tabs-selected, #featured #featured li.ui-tabs-active {
  background: url("../img/selected-item.gif") top left no-repeat;
}
/* line 52, ../sass/featured-content-slider.sass */
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured #featured ul.ui-tabs-nav li.ui-tabs-active a {
  background: #cccccc;
}
/* line 54, ../sass/featured-content-slider.sass */
#featured .ui-tabs-panel {
  width: 1000px;
  height: 410px;
  background: #999999;
  position: relative;
}
/* line 59, ../sass/featured-content-slider.sass */
#featured .ui-tabs-panel .info {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  background: url("../img/transparent-bg.png");
}
/* line 65, ../sass/featured-content-slider.sass */
#featured .ui-tabs-panel .info a.hideshow {
  position: absolute;
  font-size: 14px;
  color: #f0f0f0;
  right: 10px;
  top: -20px;
  line-height: 20px;
  margin: 0;
  outline: none;
  background: #333333;
}
/* line 76, ../sass/featured-content-slider.sass */
#featured .info {
  width: 100%;
}
/* line 78, ../sass/featured-content-slider.sass */
#featured .info h2 {
  font-size: 1.2em;
  color: white;
  padding: 5px;
  margin: 0;
  font-weight: normal;
  overflow: hidden;
}
/* line 86, ../sass/featured-content-slider.sass */
#featured .info p {
  margin: 0 5px;
  font-size: 14px;
  line-height: 15px;
  color: #f0f0f0;
}
/* line 92, ../sass/featured-content-slider.sass */
#featured .info a {
  text-decoration: none;
  color: white;
}
/* line 95, ../sass/featured-content-slider.sass */
#featured .info a:hover {
  text-decoration: underline;
}
/* line 97, ../sass/featured-content-slider.sass */
#featured .ui-tabs-hide {
  display: none;
}
