/* line 2, ../sass/haoshan.sass */
body {
  background-image: url(../img/bg2.jpg);
  letter-spacing: 0.1em;
}
/* line 5, ../sass/haoshan.sass */
body a {
  color: #21587a;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #21587a;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #3991c8;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #3991c8;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #21587a;
}

/* line 8, ../sass/haoshan.sass */
.contentBackgroundLeftGray {
  background: url(../img/bg-leftGray.jpg) no-repeat;
}

/* line 11, ../sass/haoshan.sass */
.whiteBg {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 16, ../sass/haoshan.sass */
.headerTop {
  padding-top: 20px;
  padding-bottom: 0px;
}

/* line 20, ../sass/haoshan.sass */
.headerLeft {
  color: #cccccc;
  margin-bottom: 15px;
}

/* line 24, ../sass/haoshan.sass */
.headerRight {
  margin-top: 23px;
  text-align: right;
}
/* line 28, ../sass/haoshan.sass */
.headerRight .headerInfo {
  color: #999999;
  padding-right: 10px;
  margin-bottom: 20px;
}
/* line 34, ../sass/haoshan.sass */
.headerRight .headerInfo a {
  color: #aaaaaa;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:visited {
  color: #aaaaaa;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:focus {
  color: #356b8d;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:hover {
  color: #356b8d;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.headerRight .headerInfo a:active {
  color: #aaaaaa;
}

/* line 37, ../sass/haoshan.sass */
.socialMediaImage {
  margin-top: -5px;
}

/* line 40, ../sass/haoshan.sass */
.contentBlock {
  padding-bottom: 40px;
}

/* line 43, ../sass/haoshan.sass */
.contentBlockPage {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 49, ../sass/haoshan.sass */
.navbar {
  font-size: 1em;
  margin-top: 10px;
}

/* line 52, ../sass/haoshan.sass */
.navbar .nav {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  text-align: right;
  /* */
}

/* line 60, ../sass/haoshan.sass */
.navbar .dropdown-menu [class*="span"] {
  padding-top: 10px;
}

/* line 63, ../sass/haoshan.sass */
.navbar .dropdown-menu > li.column-menu ul {
  display: inline-block;
  list-style: none outside none;
  margin: 0 0 16px;
  width: 100%;
}

/* line 69, ../sass/haoshan.sass */
.navbar .dropdown-menu > li.column-menu li {
  display: inline;
  float: left;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

/* line 76, ../sass/haoshan.sass */
.navbar .dropdown-menu > li.column-menu.firstcolumn {
  margin-left: 0;
}

/* line 79, ../sass/haoshan.sass */
.spanMenu padding {
  left: 20px;
  top: 5px;
  bottom: 5px;
}

/* line 85, ../sass/haoshan.sass */
.dropdown-menu {
  min-width: 180px;
}

/* line 88, ../sass/haoshan.sass */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

/* line 96, ../sass/haoshan.sass */
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
  display: block;
}

/* line 101, ../sass/haoshan.sass */
.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

/* line 109, ../sass/haoshan.sass */
.nav-header {
  font-weight: none;
  font-size: 1em;
  color: black;
  padding: 0;
  margin-left: 20px;
}

/* line 116, ../sass/haoshan.sass */
.navbar-haoshan .navbar-inner {
  text-align: center;
  border: none;
}

/* line 125, ../sass/haoshan.sass */
.navbar-haoshan .brand, .navbar-haoshan .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.7);
}

/* line 129, ../sass/haoshan.sass */
.navbar-inner {
  text-align: center;
  background-color: #67655f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67655f), color-stop(100%, #514d3d));
  background-image: -webkit-linear-gradient(#67655f, #514d3d);
  background-image: -moz-linear-gradient(#67655f, #514d3d);
  background-image: -o-linear-gradient(#67655f, #514d3d);
  background-image: linear-gradient(#67655f, #514d3d);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavBgColorTop', endColorstr='$defaultNavBgColorBottom', GradientType=0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  border: none;
}

/* line 138, ../sass/haoshan.sass */
.navbar-haoshan .brand:hover, .navbar-haoshan .nav > li > a:hover, .navbar-haoshan .brand:focus, .navbar-haoshan .nav > li > a:focus {
  color: defaultNavHoverFontColor;
}

/* line 140, ../sass/haoshan.sass */
.navbar-haoshan .brand {
  color: #999999;
}

/* line 142, ../sass/haoshan.sass */
.navbar .nav > li > a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 148, ../sass/haoshan.sass */
.navbar-haoshan .nav > li > a:focus, .navbar-haoshan .nav > li > a:hover {
  color: white;
}

/* line 151, ../sass/haoshan.sass */
.navbar-haoshan .nav .active > a, .navbar-haoshan .nav .active > a:hover, .navbar-haoshan .nav .active > a:focus {
  color: white;
  background-color: #67655f;
  outline: none;
}

/* line 155, ../sass/haoshan.sass */
.navbar-haoshan .navbar-link {
  color: #999999;
}

/* line 157, ../sass/haoshan.sass */
.navbar-haoshan .navbar-link:hover, .navbar-haoshan .navbar-link:focus {
  color: white;
}

/* line 159, ../sass/haoshan.sass */
.navbar-haoshan .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

/* line 162, ../sass/haoshan.sass */
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle, .navbar-haoshan .nav li.dropdown.active > .dropdown-toggle, .navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle {
  color: white;
  background: #878787;
}

/* line 167, ../sass/haoshan.sass */
.navbar-haoshan .nav li.dropdown > a:hover .caret, .navbar-haoshan .nav li.dropdown > a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
  outline: none;
}

/* line 171, ../sass/haoshan.sass */
.navbar-haoshan .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}

/* line 174, ../sass/haoshan.sass */
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-haoshan .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
  outline: none;
}

/* line 178, ../sass/haoshan.sass */
.navbar-haoshan .navbar-search .search-query {
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 189, ../sass/haoshan.sass */
.navbar-haoshan .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

/* line 191, ../sass/haoshan.sass */
.navbar-haoshan .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

/* line 193, ../sass/haoshan.sass */
.navbar-haoshan .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 195, ../sass/haoshan.sass */
.navbar-haoshan .navbar-search .search-query:focus, .navbar-haoshan .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 white;
  background-color: white;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

/* line 205, ../sass/haoshan.sass */
.navbar-haoshan .btn-navbar {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  *background-color: #040404;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #878787), color-stop(100%, #65635c));
  background-image: -webkit-linear-gradient(#878787, #65635c);
  background-image: -moz-linear-gradient(#878787, #65635c);
  background-image: -o-linear-gradient(#878787, #65635c);
  background-image: linear-gradient(#878787, #65635c);
  background-repeat: repeat-x;
  border-color: #040404 #040404 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 217, ../sass/haoshan.sass */
.navbar-haoshan .btn-navbar:hover, .navbar-haoshan .btn-navbar:focus, .navbar-haoshan .btn-navbar:active, .navbar-haoshan .btn-navbar.active, .navbar-haoshan .btn-navbar.disabled, .navbar-haoshan .btn-navbar[disabled] {
  color: white;
  background-color: #040404;
  *background-color: black;
}

/* line 221, ../sass/haoshan.sass */
.navbar-haoshan .btn-navbar:active, .navbar-haoshan .btn-navbar.active {
  background-color: black \9;
}

/* line 223, ../sass/haoshan.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a, .spanMenu > a:hover, .spanMenu > a:focus, .spanMenu:hover > a, .spanMenu:focus > a {
  color: white;
  background: #878787;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #878787), color-stop(100%, #65635c));
  background-image: -webkit-linear-gradient(#878787, #65635c);
  background-image: -moz-linear-gradient(#878787, #65635c);
  background-image: -o-linear-gradient(#878787, #65635c);
  background-image: linear-gradient(#878787, #65635c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
}

/* line 229, ../sass/haoshan.sass */
.spanMenu > a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

/* line 239, ../sass/haoshan.sass */
.breadcrumb {
  background: #ece8d6;
}

/* line 242, ../sass/haoshan.sass */
#contentSideMenuStyle {
  background: whitesmoke;
  border-radius: 10px;
}

/* line 245, ../sass/haoshan.sass */
#sideMenu {
  padding: 10px;
  list-style: none;
  margin-left: 10px;
}

/* line 250, ../sass/haoshan.sass */
.sideSubMenu {
  list-style: none;
  margin-left: 10px;
  padding-right: 10px;
}
/* line 255, ../sass/haoshan.sass */
.sideSubMenu li {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

/* line 261, ../sass/haoshan.sass */
.sideMenuTitle {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}

/* line 266, ../sass/haoshan.sass */
.sideMenuActive {
  color: white;
  background: #878787;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #878787), color-stop(100%, #65635c));
  background-image: -webkit-linear-gradient(#878787, #65635c);
  background-image: -moz-linear-gradient(#878787, #65635c);
  background-image: -o-linear-gradient(#878787, #65635c);
  background-image: linear-gradient(#878787, #65635c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
}
/* line 272, ../sass/haoshan.sass */
.sideMenuActive a {
  color: white;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideMenuActive a:active {
  color: white;
}

/* line 274, ../sass/haoshan.sass */
.sideSubMenu > li:hover, .sideSubMenu > li:focus, .sideSubMenu:hover > a {
  color: white;
  background: #878787;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #878787), color-stop(100%, #65635c));
  background-image: -webkit-linear-gradient(#878787, #65635c);
  background-image: -moz-linear-gradient(#878787, #65635c);
  background-image: -o-linear-gradient(#878787, #65635c);
  background-image: linear-gradient(#878787, #65635c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
  text-decoration: none;
}
/* line 281, ../sass/haoshan.sass */
.sideSubMenu > li:hover a, .sideSubMenu > li:focus a, .sideSubMenu:hover > a a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:visited, .sideSubMenu > li:focus a:visited, .sideSubMenu:hover > a a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:focus, .sideSubMenu > li:focus a:focus, .sideSubMenu:hover > a a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:hover, .sideSubMenu > li:focus a:hover, .sideSubMenu:hover > a a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.sideSubMenu > li:hover a:active, .sideSubMenu > li:focus a:active, .sideSubMenu:hover > a a:active {
  color: white;
}

/* line 285, ../sass/haoshan.sass */
#myCarousel {
  background: #f2f3f3;
  text-align: center;
}

/* line 291, ../sass/haoshan.sass */
.carousel {
  margin-bottom: 0px;
}

/* line 293, ../sass/haoshan.sass */
.indexContent {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #f7f7f7;
}

/* line 303, ../sass/haoshan.sass */
.grey-line {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 20px;
}
/* line 309, ../sass/haoshan.sass */
.grey-line span {
  padding: 10px;
  background: white;
}

/* line 312, ../sass/haoshan.sass */
.grey-line::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 323, ../sass/haoshan.sass */
.grey-line2 {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 10px;
}
/* line 329, ../sass/haoshan.sass */
.grey-line2 span {
  padding: 10px;
  background: #f3ede1;
}

/* line 332, ../sass/haoshan.sass */
.grey-line2::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 343, ../sass/haoshan.sass */
.haoshan-calendar {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background: #f3ede1;
  border: 1px solid #f7f7f7;
  line-height: 1.9;
}
/* line 349, ../sass/haoshan.sass */
.haoshan-calendar ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.9;
}
/* line 355, ../sass/haoshan.sass */
.haoshan-calendar li {
  padding-top: 10px;
}

/* line 364, ../sass/haoshan.sass */
.haoshan-contentBlock {
  margin-top: 20px;
}

/* line 370, ../sass/haoshan.sass */
.herointo {
  background: #356b8d;
}
/* line 372, ../sass/haoshan.sass */
.herointo p {
  color: white;
  padding: 30px;
  font-size: 1.2em;
}

/* line 376, ../sass/haoshan.sass */
.heroIntro2 {
  background: #efefef;
  padding: 30px 30px 20px 30px;
  margin-bottom: 20px;
}
/* line 380, ../sass/haoshan.sass */
.heroIntro2 p {
  font-size: 1.2em;
}

/* line 382, ../sass/haoshan.sass */
.ADBlock {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 386, ../sass/haoshan.sass */
.navbar-haoshanbackup {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
}

/* line 400, ../sass/haoshan.sass */
#slideshowHolder {
  border: 10px solid #f3ede1;
  background: #f2f3f3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
}

/* line 405, ../sass/haoshan.sass */
footer {
  margin-top: 30px;
}

/* line 408, ../sass/haoshan.sass */
.blackTop {
  margin-top: 30px;
}

/* line 411, ../sass/haoshan.sass */
.footlinkArea {
  margin-top: 30px;
}

/* line 414, ../sass/haoshan.sass */
.footlink {
  text-align: center;
}

/* line 417, ../sass/haoshan.sass */
.footWord ul {
  list-style: none;
}

/* line 419, ../sass/haoshan.sass */
.copyright-footer {
  padding-top: 30px;
  color: #888888;
  font-size: 0.8em;
}

/* line 425, ../sass/haoshan.sass */
.list_carousel {
  margin: 0 0 30px 0px;
  width: 100%;
}
/* line 428, ../sass/haoshan.sass */
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
/* line 433, ../sass/haoshan.sass */
.list_carousel li {
  font-size: 20px;
  color: #999999;
  text-align: center;
  background: #eeeeee;
  padding: 0;
  margin: 15px;
  display: block;
  float: left;
}

/* line 442, ../sass/haoshan.sass */
.exfont {
  color: #555555;
  text-align: left;
}

/* line 446, ../sass/haoshan.sass */
#reage1 {
  padding-top: 50px;
}

/* line 448, ../sass/haoshan.sass */
#reage2 {
  padding-top: 50px;
}

/* line 450, ../sass/haoshan.sass */
#reage3 {
  padding-top: 50px;
}

/* line 452, ../sass/haoshan.sass */
#reage4 {
  padding-top: 120px;
}

/* line 454, ../sass/haoshan.sass */
#mono1 {
  padding-top: 90px;
}

/* line 456, ../sass/haoshan.sass */
#mono2 {
  padding-top: 100px;
}

/* line 458, ../sass/haoshan.sass */
#tornado1 {
  padding-top: 60px;
}

/* line 460, ../sass/haoshan.sass */
.IntroDiv {
  margin-top: -20px;
}

/* line 462, ../sass/haoshan.sass */
.waveLiftNav {
  padding-bottom: 20px;
}

/* line 465, ../sass/haoshan.sass */
.waveliftingImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 469, ../sass/haoshan.sass */
.threadWord {
  text-align: center;
  background: #e3eaef;
  padding: 15px;
  font-size: 1.2em;
}

/* line 474, ../sass/haoshan.sass */
.waveIntroWord {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 40px 20px 40px;
  color: white;
  background: #225177;
  text-align: center;
}

/* line 482, ../sass/haoshan.sass */
#usesfor {
  padding-top: 20px;
}
/* line 485, ../sass/haoshan.sass */
#usesfor h2 {
  padding-left: 50px;
}
/* line 487, ../sass/haoshan.sass */
#usesfor ul {
  list-style: none;
  padding: 0;
  margin-left: 80px;
}
/* line 491, ../sass/haoshan.sass */
#usesfor ul li {
  background: url("../img/wavelifting/blueList.gif") no-repeat;
  padding: 17px 0 17px 50px;
  font-size: 14px;
}
/* line 495, ../sass/haoshan.sass */
#usesfor ul .blueList1 {
  background-position: 0px 0px;
}
/* line 497, ../sass/haoshan.sass */
#usesfor ul .blueList2 {
  background-position: 0px -150px;
}
/* line 499, ../sass/haoshan.sass */
#usesfor ul .blueList3 {
  background-position: 0px -300px;
}
/* line 501, ../sass/haoshan.sass */
#usesfor ul .blueList4 {
  background-position: 0px -450px;
}
/* line 503, ../sass/haoshan.sass */
#usesfor ul .blueList5 {
  background-position: 0px -600px;
}
/* line 505, ../sass/haoshan.sass */
#usesfor ul .blueList6 {
  background-position: 0px -750px;
}

/* line 507, ../sass/haoshan.sass */
#care {
  margin-top: 20px;
}
/* line 509, ../sass/haoshan.sass */
#care .headerList {
  background: url("../img/headerList.jpg") no-repeat;
  padding: 5px 0 5px 20px;
  font-size: 1.1em;
}
/* line 513, ../sass/haoshan.sass */
#care .careContent {
  margin-left: 20px;
  padding-bottom: 15px;
}

/* line 517, ../sass/haoshan.sass */
.seminarDocument {
  margin-bottom: 15px;
}
/* line 519, ../sass/haoshan.sass */
.seminarDocument h4 {
  background: url("../img/headerList.jpg") no-repeat;
  padding: 5px 0 5px 20px;
}
/* line 522, ../sass/haoshan.sass */
.seminarDocument ul {
  list-style: none;
}
/* line 524, ../sass/haoshan.sass */
.seminarDocument ul li {
  padding-bottom: 10px;
}
/* line 526, ../sass/haoshan.sass */
.seminarDocument ul ol {
  margin-left: 50px;
}

/* line 529, ../sass/haoshan.sass */
#seminarNavBar {
  background: whitesmoke;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

/* line 536, ../sass/haoshan.sass */
#sideMenu {
  list-style: none;
  margin-left: 20px;
}

/* line 541, ../sass/haoshan.sass */
.seminarSubMenu {
  list-style: none;
  padding: 0 10px 0 20px;
  margin-left: 10px;
}
/* line 546, ../sass/haoshan.sass */
.seminarSubMenu li {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 551, ../sass/haoshan.sass */
.seminarSideMenuActive {
  color: white;
  background: #878787;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #878787), color-stop(100%, #65635c));
  background-image: -webkit-linear-gradient(#878787, #65635c);
  background-image: -moz-linear-gradient(#878787, #65635c);
  background-image: -o-linear-gradient(#878787, #65635c);
  background-image: linear-gradient(#878787, #65635c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
}
/* line 557, ../sass/haoshan.sass */
.seminarSideMenuActive a {
  color: white;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSideMenuActive a:active {
  color: white;
}

/* line 559, ../sass/haoshan.sass */
.seminarSubMenu > li:hover, .sideSubMenu > li:focus, .sideSubMenu:hover > a {
  color: white;
  background: #878787;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #878787), color-stop(100%, #65635c));
  background-image: -webkit-linear-gradient(#878787, #65635c);
  background-image: -moz-linear-gradient(#878787, #65635c);
  background-image: -o-linear-gradient(#878787, #65635c);
  background-image: linear-gradient(#878787, #65635c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
  text-decoration: none;
}
/* line 566, ../sass/haoshan.sass */
.seminarSubMenu > li:hover a, .sideSubMenu > li:focus a, .sideSubMenu:hover > a a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:visited, .sideSubMenu > li:focus a:visited, .sideSubMenu:hover > a a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:focus, .sideSubMenu > li:focus a:focus, .sideSubMenu:hover > a a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:hover, .sideSubMenu > li:focus a:hover, .sideSubMenu:hover > a a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.seminarSubMenu > li:hover a:active, .sideSubMenu > li:focus a:active, .sideSubMenu:hover > a a:active {
  color: white;
}

/* line 569, ../sass/haoshan.sass */
#eventSubMenu {
  list-style: none;
  margin: 0;
}
/* line 572, ../sass/haoshan.sass */
#eventSubMenu li {
  padding-left: 30px;
}

/* line 574, ../sass/haoshan.sass */
.seminarDate {
  font-size: 14px;
  padding-left: 10px;
  color: #555555;
}

/* line 581, ../sass/haoshan.sass */
.magazineDownload a {
  color: white;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:visited {
  color: white;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:focus {
  color: white;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:hover {
  color: white;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.magazineDownload a:active {
  color: white;
}

/* line 584, ../sass/haoshan.sass */
#waveliftingUser {
  padding-top: 80px;
}

/* line 586, ../sass/haoshan.sass */
#unusesfor {
  padding-top: 20px;
}
/* line 589, ../sass/haoshan.sass */
#unusesfor h2 {
  padding-left: 50px;
}
/* line 591, ../sass/haoshan.sass */
#unusesfor ul {
  list-style: none;
  padding: 0;
  margin-left: 80px;
}
/* line 595, ../sass/haoshan.sass */
#unusesfor ul li {
  background: url("../img/wavelifting/redList.gif") no-repeat;
  padding: 17px 0 17px 50px;
  font-size: 14px;
}
/* line 599, ../sass/haoshan.sass */
#unusesfor ul .redList1 {
  background-position: 0px 0px;
}
/* line 601, ../sass/haoshan.sass */
#unusesfor ul .redList2 {
  background-position: 0px -150px;
}
/* line 603, ../sass/haoshan.sass */
#unusesfor ul .redList3 {
  background-position: 0px -300px;
}
/* line 605, ../sass/haoshan.sass */
#unusesfor ul .redList4 {
  background-position: 0px -450px;
}
/* line 607, ../sass/haoshan.sass */
#unusesfor ul .redList5 {
  background-position: 0px -600px;
}
/* line 609, ../sass/haoshan.sass */
#unusesfor ul .redList6 {
  background-position: 0px -750px;
}

/* line 611, ../sass/haoshan.sass */
#waveliftingUnuse {
  padding-top: 0px;
}

/* line 613, ../sass/haoshan.sass */
#reageUserfor {
  margin-top: -20px;
  margin-bottom: -20px;
}

/* line 617, ../sass/haoshan.sass */
#retime {
  padding-top: 40px;
}

/* line 620, ../sass/haoshan.sass */
.waveproduct {
  margin-top: 20px;
}

/* line 622, ../sass/haoshan.sass */
.ReageMono {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 629, ../sass/haoshan.sass */
.mono1 {
  padding-top: 80px;
}

/* line 631, ../sass/haoshan.sass */
.mono2 {
  padding-top: 80px;
}

/* line 633, ../sass/haoshan.sass */
.tornado1 {
  padding-top: 60px;
}

/* line 635, ../sass/haoshan.sass */
.tornado2 {
  padding-top: 10px;
}

/* line 637, ../sass/haoshan.sass */
.teach0 {
  padding-top: 110px;
}

/* line 639, ../sass/haoshan.sass */
.teach1 {
  padding-top: 160px;
}

/* line 641, ../sass/haoshan.sass */
.teach2 {
  padding-top: 20px;
}
/* line 643, ../sass/haoshan.sass */
.teach2 h2 {
  padding-left: 10px;
}
/* line 645, ../sass/haoshan.sass */
.teach2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 649, ../sass/haoshan.sass */
.teach2 ul li {
  background: url("../img/wavelifting/orangeList.gif") no-repeat;
  padding: 10px 0 17px 50px;
  font-size: 14px;
}
/* line 653, ../sass/haoshan.sass */
.teach2 ul .orange1 {
  background-position: 0px 0px;
}
/* line 655, ../sass/haoshan.sass */
.teach2 ul .orange2 {
  background-position: 0px -150px;
}
/* line 657, ../sass/haoshan.sass */
.teach2 ul .orange3 {
  background-position: 0px -300px;
}
/* line 659, ../sass/haoshan.sass */
.teach2 ul .orange4 {
  background-position: 0px -450px;
}

/* line 661, ../sass/haoshan.sass */
.threeline {
  padding-top: 30px;
}

/* line 666, ../sass/haoshan.sass */
.QandA {
  padding-bottom: 20px;
  list-style: none;
  margin: 0;
}
/* line 670, ../sass/haoshan.sass */
.QandA .question {
  background: url("../img/q.png") no-repeat;
  padding: 7px 0 15px 40px;
  font-size: 14px;
}
/* line 674, ../sass/haoshan.sass */
.QandA .answer {
  background: url("../img/a.png") no-repeat;
  padding: 7px 0 15px 40px;
  font-size: 14px;
}

/* line 680, ../sass/haoshan.sass */
.productBlock {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (min-width: 980px) and (max-width: 1024px) {
  /* line 691, ../sass/haoshan.sass */
  .mono1 {
    padding-top: 40px;
  }

  /* line 693, ../sass/haoshan.sass */
  .mono2 {
    padding-top: 20px;
  }

  /* line 695, ../sass/haoshan.sass */
  .tornado1 {
    padding-top: 20px;
  }

  /* line 697, ../sass/haoshan.sass */
  .tornado2 {
    padding-top: 5px;
  }

  /* line 699, ../sass/haoshan.sass */
  .teach0 {
    padding-top: 55px;
  }

  /* line 701, ../sass/haoshan.sass */
  .teach1 {
    padding-top: 80px;
  }

  /* line 703, ../sass/haoshan.sass */
  .teach2 {
    padding-top: 40px;
  }

  /* line 706, ../sass/haoshan.sass */
  #usesfor h2 {
    padding: 0;
  }
  /* line 708, ../sass/haoshan.sass */
  #usesfor ul {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 712, ../sass/haoshan.sass */
  .whiteBg, .waveIntroWord {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 716, ../sass/haoshan.sass */
  .mono1, .mono2, .tornado1, .tornado2, .ReageMono, .teach1, .teach0 {
    padding: 0px;
  }

  /* line 718, ../sass/haoshan.sass */
  .teach2 {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  /* line 723, ../sass/haoshan.sass */
  .grey-line span, .grey-line2 span {
    line-height: 8em;
    background: none;
  }

  /* line 726, ../sass/haoshan.sass */
  .mono1, .mono2, .tornado1, .tornado2, .ReageMono, .teach1, .teach0 {
    padding: 0px;
  }

  /* line 728, ../sass/haoshan.sass */
  .teach2 {
    padding-top: 20px;
  }

  /* line 731, ../sass/haoshan.sass */
  #usesfor h2 {
    padding-left: 0px;
  }
  /* line 733, ../sass/haoshan.sass */
  #usesfor ul {
    margin-left: 0px;
  }
}
/* line 736, ../sass/haoshan.sass */
.blankHeight {
  height: 40px;
}
