/* line 2, ../sass/type2.sass */
body {
  background-image: url(../img/bg2.jpg);
}

/* line 4, ../sass/type2.sass */
.whiteBg {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 9, ../sass/type2.sass */
.headerTop {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 13, ../sass/type2.sass */
.headerLeft {
  color: #cccccc;
}

/* line 15, ../sass/type2.sass */
.headerRight {
  margin-top: 12px;
}
/* line 18, ../sass/type2.sass */
.headerRight .headerInfo {
  color: #999999;
  padding-right: 10px;
}

/* line 22, ../sass/type2.sass */
.socialMediaImage {
  margin-top: -5px;
}

/* line 25, ../sass/type2.sass */
.contentBlock {
  padding-bottom: 40px;
}

/* line 28, ../sass/type2.sass */
.contentBlockPage {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 34, ../sass/type2.sass */
.navbar {
  font-size: 1em;
}

/* line 36, ../sass/type2.sass */
.navbar .nav {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  text-align: center;
}

/* line 44, ../sass/type2.sass */
.navbar-haoshan .navbar-inner {
  text-align: center;
  background-color: #775c2d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #775c2d), color-stop(100%, #5d4519));
  background-image: -webkit-linear-gradient(#775c2d, #5d4519);
  background-image: -moz-linear-gradient(#775c2d, #5d4519);
  background-image: -o-linear-gradient(#775c2d, #5d4519);
  background-image: linear-gradient(#775c2d, #5d4519);
  background-repeat: repeat-x;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavBgColorTop', endColorstr='$defaultNavBgColorBottom', GradientType=0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  border: none;
}

/* line 53, ../sass/type2.sass */
.navbar-haoshan .brand, .navbar-haoshan .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 57, ../sass/type2.sass */
.navbar-haoshan .brand:hover, .navbar-haoshan .nav > li > a:hover, .navbar-haoshan .brand:focus, .navbar-haoshan .nav > li > a:focus {
  color: white;
}

/* line 59, ../sass/type2.sass */
.navbar-haoshan .brand {
  color: #999999;
}

/* line 61, ../sass/type2.sass */
.navbar .nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 67, ../sass/type2.sass */
.navbar-haoshan .nav > li > a:focus, .navbar-haoshan .nav > li > a:hover {
  color: white;
  background-color: transparent;
}

/* line 70, ../sass/type2.sass */
.navbar-haoshan .nav .active > a, .navbar-haoshan .nav .active > a:hover, .navbar-haoshan .nav .active > a:focus {
  color: white;
  background-color: #111111;
}

/* line 73, ../sass/type2.sass */
.navbar-haoshan .navbar-link {
  color: #999999;
}

/* line 75, ../sass/type2.sass */
.navbar-haoshan .navbar-link:hover, .navbar-haoshan .navbar-link:focus {
  color: white;
}

/* line 77, ../sass/type2.sass */
.navbar-haoshan .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

/* line 80, ../sass/type2.sass */
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle, .navbar-haoshan .nav li.dropdown.active > .dropdown-toggle, .navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle {
  color: white;
  background-color: #111111;
}

/* line 83, ../sass/type2.sass */
.navbar-haoshan .nav li.dropdown > a:hover .caret, .navbar-haoshan .nav li.dropdown > a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
}

/* line 86, ../sass/type2.sass */
.navbar-haoshan .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

/* line 89, ../sass/type2.sass */
.navbar-haoshan .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-haoshan .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-haoshan .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}

/* line 92, ../sass/type2.sass */
.navbar-haoshan .navbar-search .search-query {
  color: white;
  background-color: #515151;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 103, ../sass/type2.sass */
.navbar-haoshan .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

/* line 105, ../sass/type2.sass */
.navbar-haoshan .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

/* line 107, ../sass/type2.sass */
.navbar-haoshan .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 109, ../sass/type2.sass */
.navbar-haoshan .navbar-search .search-query:focus, .navbar-haoshan .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 white;
  background-color: white;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

/* line 119, ../sass/type2.sass */
.navbar-haoshan .btn-navbar {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  *background-color: #040404;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #151515), color-stop(100%, #040404));
  background-image: -webkit-linear-gradient(#151515, #040404);
  background-image: -moz-linear-gradient(#151515, #040404);
  background-image: -o-linear-gradient(#151515, #040404);
  background-image: linear-gradient(#151515, #040404);
  background-repeat: repeat-x;
  border-color: #040404 #040404 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 131, ../sass/type2.sass */
.navbar-haoshan .btn-navbar:hover, .navbar-haoshan .btn-navbar:focus, .navbar-haoshan .btn-navbar:active, .navbar-haoshan .btn-navbar.active, .navbar-haoshan .btn-navbar.disabled, .navbar-haoshan .btn-navbar[disabled] {
  color: white;
  background-color: #040404;
  *background-color: black;
}

/* line 135, ../sass/type2.sass */
.navbar-haoshan .btn-navbar:active, .navbar-haoshan .btn-navbar.active {
  background-color: black \9;
}

/* line 137, ../sass/type2.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: white;
  background: #151515;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #151515), color-stop(100%, #040404));
  background-image: -webkit-linear-gradient(#151515, #040404);
  background-image: -moz-linear-gradient(#151515, #040404);
  background-image: -o-linear-gradient(#151515, #040404);
  background-image: linear-gradient(#151515, #040404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$defaultNavStyle2BgColorTop,', endColorstr='$defaultNavStyle2BgColorBottom', GradientType=0);
}

/* line 145, ../sass/type2.sass */
#myCarousel {
  border: 10px solid #f3ede1;
  background: #f2f3f3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  text-align: center;
}

/* line 151, ../sass/type2.sass */
.indexContent {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 158, ../sass/type2.sass */
.grey-line {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 20px;
}
/* line 164, ../sass/type2.sass */
.grey-line span {
  padding: 10px;
  background: white;
}

/* line 167, ../sass/type2.sass */
.grey-line::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 178, ../sass/type2.sass */
.grey-line2 {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-bottom: 10px;
}
/* line 184, ../sass/type2.sass */
.grey-line2 span {
  padding: 10px;
  background: #f3ede1;
}

/* line 187, ../sass/type2.sass */
.grey-line2::before {
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 198, ../sass/type2.sass */
.haoshan-calendar {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background: #f3ede1;
  border: 1px solid #dddddd;
  line-height: 1.9;
}
/* line 204, ../sass/type2.sass */
.haoshan-calendar ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.9;
}
/* line 210, ../sass/type2.sass */
.haoshan-calendar li {
  padding-top: 10px;
}

/* line 219, ../sass/type2.sass */
.haoshan-contentBlock {
  margin-top: 20px;
}

/* line 226, ../sass/type2.sass */
.ADBlock {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 230, ../sass/type2.sass */
.navbar-haoshanbackup {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 6px;
}

/* line 244, ../sass/type2.sass */
#slideshowHolder {
  border: 10px solid #f3ede1;
  background: #f2f3f3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
}

/* line 249, ../sass/type2.sass */
footer {
  margin-top: 30px;
}

/* line 252, ../sass/type2.sass */
.blackTop {
  margin-top: 30px;
}

/* line 255, ../sass/type2.sass */
.footlinkArea {
  margin-top: 30px;
}

/* line 258, ../sass/type2.sass */
.footlink {
  text-align: center;
}

/* line 261, ../sass/type2.sass */
.footWord ul {
  list-style: none;
}

/* line 263, ../sass/type2.sass */
.list_carousel {
  margin: 0 0 30px 0px;
  width: 100%;
}
/* line 266, ../sass/type2.sass */
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
/* line 271, ../sass/type2.sass */
.list_carousel li {
  font-size: 20px;
  color: #999999;
  text-align: center;
  background: #eeeeee;
  padding: 0;
  margin: 15px;
  display: block;
  float: left;
}

/* line 280, ../sass/type2.sass */
.exfont {
  color: #555555;
}
