$totalWidth: 1150//960
$defaultWidth: 1000//800
$navWidth: $totalWidth - $defaultWidth
$defaultHeight: 410
#featured
  width: $defaultWidth+px
  padding-right: $navWidth+px
  position: relative
  border: 5px solid #ccc
  height: $defaultHeight+px
  overflow: hidden
  background: #fff
  ul.ui-tabs-nav
    position: absolute 
    top: 0
    left: $defaultWidth+px 
    list-style: none 
    padding: 0
    margin: 0 
    width: $navWidth+px
    height: $defaultHeight+px
    overflow: auto
    overflow-x: hidden
    li
      padding: 1px 0 
      padding-left: 13px
      font-size: 12px 
      color: #666 
      img
        float: left
        margin: 7px 5px 
        background: #fff 
        padding: 2px
        border: 1px solid #eee
      span
        font-size: 13px
        //font-family: Verdana 
        line-height: 18px
  li.ui-tabs-nav-item
    a
      display: block
      height: 100px//60px
      text-decoration: none
      color: #333
      background: #fff 
      line-height: 20px
      outline: none
    a:hover
      background: #f2f2f2
  li.ui-tabs-selected, #featured li.ui-tabs-active
    background: url('../img/selected-item.gif') top left no-repeat
  ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a
    background: #ccc
  .ui-tabs-panel
    width: $defaultWidth+px 
    height: $defaultHeight+px
    background: #999 
    position: relative
  .ui-tabs-panel .info
    position: absolute
    bottom: 0
    left: 0
    height: 70px 
    background: url('../img/transparent-bg.png')
  .ui-tabs-panel .info a.hideshow
    position: absolute
    font-size: 14px
    //font-family: Verdana
    color: #f0f0f0
    right: 10px
    top: -20px
    line-height: 20px
    margin: 0
    outline: none
    background: #333
  .info
    width: 100%
    h2
      font-size: 1.2em
      //font-family: Georgia, serif 
      color: #fff
      padding: 5px
      margin: 0
      font-weight: normal
      overflow: hidden
    p
      margin: 0 5px 
      //font-family: Verdana
      font-size: 14px 
      line-height: 15px
      color: #f0f0f0
    a
      text-decoration: none 
      color: #fff
    a:hover
      text-decoration: underline
  .ui-tabs-hide
    display: none