@import basic.sass
body
	background-color: $backgroundColor
hr
	border-top: 1px solid #BEC0C3
	border-bottom: 2px solid #fff
//NAVbar
.navbar
	font-size: $defaultNavFontSize
.haoshan-nav
	padding:
		top: 0px
.navbar-haoshan
	min-height: 40px
	padding-right: 20px
	padding-left: 20px
	background-color: #fafafa
	+background-image(linear-gradient(#ffffff, #f2f2f2))
	background-repeat: repeat-x
	border: 1px solid #d4d4d4
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)
	*zoom: 1
	+box-shadow(rgba(black, .6) 0 1px 6px)
.haoshan-header
	margin-top: $headerTop
.navTop
	margin:
		top: 10px
		right: 10px
//Calendar
.haoshan-calendar
	+border-radius(5px)
	+background-image(linear-gradient(#ffffff, #ececec))
	border: 1px solid #ccc
	padding: 10px
	h4
		color: #666

	margin:
		left: 20px
		right: 20px
//carousel
.carousel-indicators
	position: absolute
	top: 340px
.carousel-border
	img
		border: 1px solid #ccc
.item
	img
		display: block
		margin-left: auto
		margin-right: auto
.carousel-control
	background: #ccc
.tp-bannershadow
	background: url(../img/shadow1.png)
	background-size: 100%
	height: 40px
	bottom: -30px
	margin-top: -20px
	background-repeat: no-repeat
//carousel END
//Content
.index-WordsDiv
	background-image: url(../img/bg.jpg)
	+box-shadow(rgba(#000, .2) 0 0 10px 0 inset)
	padding:
		top: 20px
		bottom: 20px
.index-Word
	background-image: url(../img/bg.jpg)
	text-align: center
	padding-top: 10px
	padding-bottom: 10px
	color: #999
	font-size: $defaultNavFontSize+1
.indexContent
	background: white
	border: 1px solid #ccc
	padding: 20px
	img
		padding:
			bottom: 30px
	hr
		padding:
			top: 10px
		width: 80%
		margin: 0 auto
.indexContentSubTitle
	color: #999
	font-size: $defaultNavFontSize+.5
//Footer
footer
	margin:
		top: 20px
.footWord
	ol,li,ul
		list-style: none
.footlink
	text-align: center
.footlinkArea
	background: #ccc
.nav-image
	margin-top: -4px
.haoshan-contentBlock
	margin:
		top: 20px
	padding: 20px
	background: #fff
	border: 1px solid #ccc
