/* line 1, ../sass/style.sass */
.siteStart {
  margin-top: 80px;
}

/* line 4, ../sass/style.sass */
.controlPanel, .controlContent {
  background: white;
}

/* line 6, ../sass/style.sass */
.controlContent {
  border-right: #dddddd 1px solid;
  border-left: #dddddd 1px solid;
  border-bottom: #dddddd 1px solid;
  padding: 18px;
}

/* line 11, ../sass/style.sass */
.adminNav {
  margin-bottom: 20px;
}